.custom-btn{
  display:block;
  font-weight: 700;
  font-size: 19px;
  border: none;
  background: #1565c0;
  cursor: pointer;
  color: white;
  font-family: 'SCDream4';
  animation: ct 3s infinite;

  text-decoration: none; 
  
}

.pattern {
  background: rgb(251, 251, 251);
  background-image: radial-gradient(#dbe8f7 10%, transparent 10%),
    radial-gradient(#f8fbff 10%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.airplan-img {
  width: 10%;
}

.barcode-img {
  width: cal(10vh + 10vw);
}

.ttsbtn-img {
  width: cal(5vh + 5vw);
}

.shadow {
  box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}
.rcmnd-guide-font {
  font-size: 40px;
  font-family: 'SCDream7';
}

.ticket-head-font {
  font-size: 20px;
  font-family: 'SCDream7';
  color: #2e81e1;
  font-style: oblique;
}

.ticket-name-font {
  font-size: 58px;
  font-family: 'SCDream7';
  text-decoration: underline;
}

.ticket-bottom-font {
  font-size: 20px;
  font-family: 'SCDream7';
  color: #2e81e1;
  font-style: oblique;
}

.info-head-font {
  font-size: 30px;
  font-family: 'SCDream7';
}

.info-body-font {
  font-size: 20px;
  text-align: center;
}

.vibration {
  animation: vibration 0.5s infinite;
}

@keyframes vibration {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}

@keyframes ct {
  50% {
    color: #8dc7f7;
  }
  75% {
    color: #fff;
  }
}

/* pc일때만 */
@media (min-width: 650px) {
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
}
/* 모바일 일 때만 */
@media (max-width: 650px) {
  .rcmnd-guide-font {
    font-size: 20px;
  }
  .ticket-head-font {
    font-size: 13px;
  }
  .ticket-name-font {
    font-size: 35px;
    font-family: 'SCDream7';
  }
  .custom-btn {
    font-size: 10px;
  }
  .ticket-bottom-font {
    font-size: 10px;
  }
  .info-head-font {
    font-size: 13px;
    font-family: 'SCDream7';
  }
  .info-body-font {
    font-size: 12px;
  }
}
