.speech-bubble {
	position: relative;
	background: rgb(191, 226, 240);
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-right-color: rgb(191, 226, 240);
	border-right-color: rgb(239, 237, 237, 20);
	border-left: 0;
	border-bottom: 0;
	margin-top: -13px;
	margin-left: -26px;
	
}

#svy-btn:active{
	border-color:  var(--primaryLight);
	background-color:  var(--primaryLight);
}

@media (min-width: 650px) {
	#svy-btn:hover { 
		cursor: pointer;
    background-color: rgb(239, 237, 237, 0.4);
    border-color:  var(--primaryMain);
	}
}